{% extends "TecnocreacionesVzlaGovernmentBundle:Template:Developer/layout404.html.twig" %}

{% block body %}
    <div id="article-container" class="article-container">  <h1>Navegadores compatibles</h1>  
        <div class="content-container content-container--answer"> <p>Se puede acceder a la Aplicación a través de Internet en los navegadores como Chrome, Firefox, Internet Explorer y Safari en tu computadora. Para acceder a la Aplicación con un navegador instalado en un dispositivo móvil, asegúrese de que su navegador móvil cumple estos requisitos mínimos.</p>

            <h3>Para obtener las últimas funciones de la Aplicación, utilice un navegador compatible.</h3>

            <table>
                <tbody>
                    <tr>
                        <td class="align-center"><img src="//storage.googleapis.com/support-kms-prod/SNP_963AC0FAD847844BFC5F7C7466C440939F1D_3258398_en_v1" width="72" height="72" class="float-center"><br>
                            <br>
                            <a href="//www.google.com/chrome" target="_blank">Descargar<br>
                                Google Chrome</a></td>
                        <td class="align-center"><img src="//storage.googleapis.com/support-kms-prod/SNP_4972C02F2F3F235F0BE5174C202597AF3EDF_3258404_en_v1" width="72" height="72"><br>
                            <br>
                            <a href="//www.mozilla.org/firefox/" target="_blank">Descargar<br>
                                Firefox</a></td>
                        <td class="align-center"><img src="//storage.googleapis.com/support-kms-prod/SNP_5CF1FC670BDDD1A33D4B4F4C16D68F0BA33E_3258459_en_v2" width="72" height="72"><br>
                            <br>
                            <a href="//www.apple.com/safari" target="_blank">Descargar<br>
                                Safari</a></td>
                    </tr>
                </tbody>
            </table>
            <br/>
            <div class="alert alert-info">Si estás usando un navegador compatible, pero ver un mensaje en la Aplicación que su navegador no es compatible, puede que esté utilizando una extensión que interfiere con la detección del navegador. Pruebe a desactivar las extensiones del navegador para resolver el problema.</div>

            <h3>Para utilizar el aplicación, activa las cookies y JavaScript</h3>

            <p>Sin importar el tipo de navegador, usted debe haber cookies activadas para usar la Aplicación. Además, su navegador debe soportar JavaScript. Búsque en Google para obtener instrucciones sobre cómo habilitar las cookies y JavaScript en tu navegador.</p>
        </div>   
    </div>
{% endblock body %}