{% trans_default_domain 'TecnocreacionesVzlaGovernmentBundle' %}
<div id="footer">
    <hr class="hr-line-vzla-red" />
    {{ 'tecnocreaciones_vzla_government.message_footer'|trans({'%currentYear%':(date('now')|date('Y')) }) }}
</div>