/*
This file is part of the TecnoCreaciones package.

(c) www.tecnocreaciones.com.ve

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
*/
/* 
    Created on : 31/03/2014, 01:28:27 PM
    Author     : inhack20
*/

.message-loading {
    position: fixed;
    z-index: 999302;
    text-align: center;
    top: 0%;
    left: 47%;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    background-color: #f7ffb3;
    border: 1px solid #999999;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    -moz-box-shadow: 0px 0px 2px #000000;
    -webkit-box-shadow: 0px 0px 2px #000000;
    box-shadow: 0px 0px 2px #000000;
    /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
}
#message-errors {
    position: fixed;
    z-index: 999302;
    text-align: center;
    top: 6%;
    left: 47%;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
}
.error-loading {
    border-color: rgb(255, 3, 3);
}